$acc-width: 100%;
$acc-header-bg: #0206C8;;
$acc-header-hover-bg: #1e22e6;
$acc-header-rolled-hover-bg: #1e22e6;
$acc-header-deploy-bg: #1e22e6;;
$acc-header-deploy-hover-bg: rgba($color: #EB5329, $alpha: .85);
$acc-border-radius: 7.5px;



$acc-transition: 500ms;
$acc-content-border: 1px solid #999;
$acc-header-border: 1px solid #0206C8;

$acc-content-bg: #EAEAEA;

$acc-items-distance: 3px;
$acc-item-height: 56px;

$acc-inner-padding: 40px 30px;

//fonts
$acc-header-deploy-t-color: #fff;
$acc-header-t-color: #fff;

$acc-header-font-size: 24px;
$acc-header-font-weight: bold;
$acc-header-font-family: inherit;
$acc-header-font-style: normal;

//icon
$acc-icon-width: 10px;
$acc-icon-height: 10px;


.easyAccordion{
    box-sizing: border-box;
    max-width: $acc-width;
    div, p{
        box-sizing: border-box;
        
    }
}




.easyAccordion__item[data-state="rolled"]{
    
    .easyAccordion__header{
        &:hover{
            background: $acc-header-rolled-hover-bg;
        }
        
    }

    .easyAccordion__content{
        
        border: 0px solid transparent;
    }
    
}

.easyAccordion__item[data-state="deploy"]{
    .easyAccordion__header{
        background-color: $acc-header-deploy-bg;
        
        border-radius: $acc-border-radius $acc-border-radius 0 0;
        border: 1px solid $acc-header-deploy-bg;
        
        
    }    

    .easyAccordion__header-text{
        color: $acc-header-deploy-t-color;
    }
    .easyAccordion__content{
        height: auto;
        border-top: 0;
    }

    .accordion__triangle{
        path{
            fill: #fff !important;
        }
        transform: rotate(0deg);
    }
}

.easyAccordion__item[data-animated="true"]{
    .easyAccordion__header{
        background-color: $acc-header-bg;
        color: $acc-header-t-color;
        border: $acc-content-border;
        border-radius: $acc-border-radius;
        transition: 0s;
    }
    .easyAccordion__header-text{
        color: $acc-header-t-color;
    }

    

    .accordion__triangle{
        transition: $acc-transition;
        transform: rotate(90deg);

        path{
            fill: #fff !important;
        }
    }
}

.easyAccordion__item{
    &:not(:first-of-type){
        margin-top: $acc-items-distance;
    }
}

.easyAccordion__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: $acc-item-height;
    border-radius: $acc-border-radius;
    border: $acc-header-border;
    padding: 5px 15px;
    position: relative;
    z-index: 2;
    background-color: $acc-header-bg;
    cursor: pointer;

    transition: all $acc-transition, border-radius 0ms; 
    
    
}
.easyAccordion__header-text{
    margin: 0;
    padding: 0;
    font-size: $acc-header-font-size;
    font-weight: $acc-header-font-weight;
    font-family: $acc-header-font-family;
    font-style: $acc-header-font-style;
    text-transform: uppercase;
    overflow: hidden;
    color: $acc-header-t-color;


    @media (max-width: 1024px){
        font-size: 20px;
    }
    @media (max-width: 480px){
        font-size: 18px;
    }
}
.accordion__triangle{
    width: $acc-icon-width;
    height: $acc-icon-height;
    margin-left: 5px;
    transform: rotate(90deg);
    transition: $acc-transition;
}

.easyAccordion__content{
    
    border: $acc-content-border;    
    border-radius: 0 0 $acc-border-radius $acc-border-radius;
    height: 0px;
    min-height: 0px;
    
    overflow: hidden;
    position: relative;
    z-index: 1;
    background: $acc-content-bg;
    transition: 0ms;
}

.easyAccordion__content-inner{
    padding: $acc-inner-padding;
    @media (max-width:  1024px){
        padding: 30px 20px;
    }
    @media (max-width:  480px){
        padding: 20px 10px;
    }
}

.hide-content{
    animation: hideContent $acc-transition forwards;
    
}


@keyframes hideContent{
    50%{
        transform: translateY(-10px);
    }
    99%{
        min-height: 0px; 
        height: 0px;
        transform: translateY(-10px);
    }
    100%{
        min-height: 0px; 
        height: 0px;
        border-width: 0;
        transform: translateY(-10px);
    }
}

.easyAccordion_ready{
    .easyAccordion__content{
        transition: all $acc-transition, border-width 0ms, border-color 0ms;
    }
}


.easyAccordion__text-block{
    padding-left: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.easyAccordion__header-date{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    
    
    text-align: center;
}


.p-day__item{
    display: flex;

    padding: 20px 0;

    &:first-of-type{
        padding-top: 0;
    }
    &:last-of-type{
        padding-bottom: 0;
    }

    &:not(:first-of-type){
        border-top: 1px solid #777;
    }
}
.p-day__left{
    width: 80%;
}
.p-day__right{
    width: 20%;
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @media (max-width: 1024px){
        min-width: 100px;
    }
    p{
        text-align: right;
        font-size: 20px;
        font-weight: 500;

        @media (max-width: 1024px){
            font-size: 16px;
        }
        @media (max-width: 480px){
            font-size: 14px;
        }
    }
}

.p-day{

    h3{
        font-size: 24px;

        @media (max-width: 1024px){
            font-size: 20px;
        }
        @media (max-width: 480px){
            font-size: 16px;
        }

    }    
}

.p-day__text-block{

    p{
        font-size: 20px;
        margin: 15px 0;

        &:last-of-type{
            margin-bottom: 0;
        }
        @media (max-width: 1024px){
            font-size: 16px;
        }

        @media (max-width: 480px){
            font-size: 14px;
        }
    }


    &:not(:first-of-type){
        margin-top: 25px;
    }
}

.t-c-content{
    min-height: 50vh;

    .form-decoration{
        bottom: -200px;

        @media (max-width:768px){
            bottom: 0px;
        }
    }
}